/**
 * WOW Raider 
 * author: Marco Chillemi 
 * e-mail: marco[dot]chillemi[at]gmail[dot]com 
 */

html {
  margin:0;
  padding:0;
}
body {
  background-color: #ECE5C7;
  font:14px  "Roboto", Georgia, Calibri, "GentiumBasicRegular", "Ubuntu", verdana, "Lucida Sans Unicode", Tahoma;
  color: #555;
  margin:0;
  padding:0;

}
body a {
  text-decoration: none;
  color: #6B7F17;
}
body a:hover {
  text-decoration: underline;
}
h1, h2, h3, h4, h5, h6 
{
  font-weight: normal;
  margin:0;
  padding:0;
}
.float_left {
float:left;
}
.float_right {
float:right;
}
.italic {
font-style: italic;
}
#container {
width:980px;
margin:0 auto;
padding:0;
-webkit-box-shadow: 0px 20px 10px -5px rgba(0, 0, 0, .5);
-moz-box-shadow: 0px 20px 10px -5px rgba(0, 0, 0, .5);
box-shadow: 0px 20px 10px -5px rgba(0, 0, 0, .5); 
background-color: #FFF;
border:1px solid #A39C84;
border-top:none;
}
/**
 * MESSAGGI DI STATO
 */
.ok {
  padding-left: 25px;
  line-height:20px;
  color: #61A54C;
  background: url(../images/icons/ok.png) top left no-repeat;
}
.warning {
  padding-left: 25px;
  line-height:20px;
  color: #A39F2D;
  background: url(../images/icons/warning.png) top left no-repeat;
}   
.errore {
  padding-left: 25px;
  line-height:20px;
  color: #E04747;
  background: url(../images/icons/error.png) top left no-repeat;  
}
/**
 * LOGIN
 */
#login {}
#login h3 {
margin: 0 auto;
}
#login h4.subtitle{
margin:0 0 1px 0;
} 
#login .sidebar_row {
padding: 5px 15px;
}
#login .sidebar_row span {
margin:10px 0;
}
#login .form {
border-left: 10px solid #F2EECE;
}
#nuovo_utente,
#utente_registrato,
#password_dimenticata {
  padding:0;
  margin: 1px auto;
}
#login .links ul {
margin:0;
padding:0;
list-style:none;
}
#login .links ul li {
margin:5px 0 10px 0;
}
/*
 *  HEADER
*/
#header {
position:relative;
height:250px;
/*background: url(../images/33309_b.jpg) bottom right no-repeat*/;
}
#user_tools {
width:100%;
background-color: #596959;
}
/**
 * my_menu menu ----------------------------------------- 
 */
#my_menu {
padding:0;
margin:0 15px;
list-style:none;
}
#logout_menu li,
#my_menu li {
position: relative;	
display:block;
float:left;
}
#logout_menu li a,
#my_menu li a {
display:block;
cursor:pointer;
padding: 8px 10px;
color:#B6D62A;
}
#logout_menu .active a,
#my_menu .active a {
color: #FFF;
}
#logout_menu li:hover a, 
#logout_menu li a:hover,
#my_menu li:hover a, 
#my_menu li a:hover {
background-color: #596959;
color: #FFF;
}
#logout_menu li > ul,
#my_menu li > ul {
display:none;
position: absolute;
z-index: 100;
padding: 5px; 
margin: 0;
background-color: #596959;
box-shadow: 2px 2px 0 rgba(89, 105, 89, 0.3);
}
#my_menu li:hover > ul {
display:block;
left:0;
padding-top:10px;
}
#logout_menu li > ul li a,
#my_menu li > ul li a{
white-space: nowrap;
display:block;
width: 100px;
margin:0;
color:#B6D62A !important;
}
#logout_menu li > ul li a:hover,
#my_menu li > ul li a:hover {
border-radius:0;
color: #FFF !important;
}

/* logout menu ----------------------------------------- */
#logout_menu {
float:right;	
padding:0;
margin:0 15px;
list-style:none;
}
#logout_menu li {
float:right;
}
#logout_menu li a {
display:block;
padding: 8px 10px;
margin:0 1px;
}
#logout_menu .active a {
background-color: #3577C4;
color: #FFF;
}
#logout_menu li:hover a, 
#logout_menu li a:hover {
color: #FFF;
}
#logout_menu li > ul {
display:none;
position: absolute;
z-index: 100;
padding: 5px; 
margin: 0;
}
#logout_menu li:hover > ul {
display:block;
right:0 !important;
padding-top:10px;
}
#logout_menu li > ul li a{
white-space: nowrap;
display:block;
width: 100px;
margin:0;
color:#FFF;
}
.wrapper {
  margin:0 auto;
}
#page_date {
  padding:10px 20px 0 20px;
  text-align: center;
}
.date {
text-align:center;
}
.data {}
.data h2 {
  letter-spacing: -1;
}
.prev,
.succ {
  padding:0 10px;
}    
.calendario {
	padding:20px;
	margin-bottom:40px;
	background-color: rgba(255, 255, 255, 0.5);
	opacity: 1;
	text-shadow: 1px 1px #FFF;
}
ul.timeline {
padding:0;
margin:0 auto;
list-style:none;
width: -moz-max-content;
width: -webkit-max-content;	
width: -o-max-content;
}
ul.timeline a {
  display:block;
  text-decoration:none;
}
.giorno {
  display:block;
  padding:0 0 5px 0;
  margin:0;
  float:left;
  cursor:pointer;
}
.half {
  width:30px;
  text-align:center;
  margin:0 2px;
  border-radius:3px;
}
.raid_icon {
  height:15px;
}
.divisore {}
.lettera {
  text-transform:uppercase;
  height:30px;
  line-height:30px;      
  -moz-border-radius: 3px 3px 0 0;
  -webkit-border-radius: 3px 3px 0 0;
  color: #444;
  margin-bottom:1px;
}
.numero {
  color: #3F3B3B;
  height:30px;
  line-height:30px;          
  -moz-border-radius: 0 0 3px 3px;
  -webkit-border-radius: 0 0 3px 3px;            
} 
.clearbox {
  clear:both;
}
.event .raid_icon {
  background: url(../images/icons/crown.png) center center no-repeat;
}
.heroic .raid_icon {
  background: url(../images/icons/crown_heroic.png) center center no-repeat;
}
.event .lettera,
.event .numero {
  color: #8DAF00;
}
.event .numero a {
	font-weight:bold;
	color:orange;
}
.event:hover .numero {}
.event:hover .numero a {}
.date_selected .numero{
background-color: #f2eece;
color:#000;
} 
.domenica {
  color: red !important;
}
.past {
	border-bottom: 3px solid #9DB7A0;
}
.today {
	border-bottom:3px solid green;
}
.future {
	border-bottom: 3px solid #78BC78;
}
.event {
	border-bottom: 3px solid orange;
}
.giorno:hover {
	border-bottom: 3px solid #107010;
	background-color:#F2EECE;
}
.breadcrumbs {
padding:5px 25px;
background-color: #F9F6DE;
}
/*
 *  CONTENT
*/
#content {
padding:10px;
margin:0;
background-color: #FAFAFA;
}
#content a {
}
h1 {
position:relative;
font: 28px "Roboto";
margin: 0;
padding: 15px;	
}
h3.title {
color: #333;
font: 28px "Roboto";
margin: 0;
padding: 15px;
background-color:#E5E1C5;	
border-bottom:5px solid #f2cf66;
}
h4.subtitle {
color: #444;
font: 22px "Roboto";
margin: 1px  0 0 15px;
padding: 10px;
background-color:#DDD;
}
.event_content .form_row {
padding:10px;
margin:1px 0;
background-color: #EAEAEA;
}
/*
 *  CONTENT-COLUMN
*/
.content-wrapper {
	width:100%;
	float:right;
}
.content-column {
  margin:0;
  margin-right:280px;
  margin-bottom:30px;
}
.content-column-wide {
  margin:0;
  margin-right:180px;
  margin-bottom:30px;
}
.event_content_header {
  position:relative;
  padding: 0;
}
.multiple_events 
{
  cursor: pointer;
}
.multiple_events:hover h3 
{
  background-color: #85AAD1; 
}
ul#raid_leader_tools {
  position:absolute;
  top:46px;
  right:10px;
  list-style: none;
  padding:0;
  margin:0;
}
ul#raid_leader_tools li {
  height: 20px;
  width: 22px;
  cursor: pointer;
  float:left;
}
.more_button {
background: url(../images/rl_more_btn.png) top left no-repeat;
}
.less_button {
background: url(../images/rl_less_btn.png) top left no-repeat;
}
.edit_button {
width:24px !important;
background: url(../images/rl_edit_btn.png) top left no-repeat;
}
.more_button:hover {
background: url(../images/rl_more_btn_hover.png) top left no-repeat;
}
.less_button:hover {
background: url(../images/rl_less_btn_hover.png) top left no-repeat;
}
.edit_button:hover {
background: url(../images/rl_edit_btn_hover.png) top left no-repeat;
}
.raid_img {
  border:1px solid #BFB7B7;
  background-color: #FFF;
  padding:1px;
  margin:10px;
  width: 42px;
  height: 42px;
  overflow:hidden;
}
.event_description_wrapper {
background-color: #DDD;
}
.event_description {
  font-size:1.2em;
  font-style: italic;
  text-align: justify;
  width: 452px;
  padding:10px;
}
.raid_join_button_wrapper {
background-color: #EAEAEA;
padding:10px;
}
.raid_join_button_wrapper:hover {}
.raid_join_button {
width:430px;
}
.inscripted {
font: 22px "Roboto";
text-shadow: 1px 1px 0 #FFF;
font-weight: bold;
}
.holder_ok,
.holder_wait {
padding-left:20px;
height:20px;
}
.holder_ok {
background: url(../images/icons/hourglass.png) top left no-repeat;
}
.holder_wait {
background: url(../images/icons/tick.png) top left no-repeat;
}
.raid_info {
background-color: #EAEAEA;
width: 200px;
float:left;
margin:1px 0;
border-right: 10px solid #CCC;
}
.raid_info_row {
line-height:20px;
padding:8px 10px;
border-bottom: 1px solid #CCCCCC;
}
.raid_info_row > div {
width:43%;
}
.nfo_label {
font-weight:bold;
}
.nfo_value {
text-align:right;
}
.event_content {}
ul.accordion {
list-style: none;
margin:0;
padding-left:15px;
}
ul.accordion h4.subtitle {
margin-left:0;
padding:5px 15px;
background-color: #E2E2E2;
}
.raid_board {}
.raid_board h4.title {
color: #444;
font: 22px "Roboto";
font-weight:bold;
padding: 5px;
/*border-bottom:3px solid #3577C4;
text-align:right;*/
background-color: #DDDDDD;
padding-left: 10px;
}
.tank h4.title {}
.healer h4.title {}
.dps_melee h4.title {}
.dps_ranged h4.title {}
.tank,
.healer,
.dps_melee,
.dps_ranged {
background-color: #EAEAEA;
}
.pg_row {
padding:10px;
border:1px solid #CCC;
margin: 1px 0;
/*background-color: #3577C4;*/
}
.pg_row:hover {
background-color: #FBFCAE;
}
.selezionato {
background-color: #C2FFB7;
border-color: #54A843;
}
.pg_block {
width:230px;
}
.pg_row .pg_name a {
font-size: 12px;
font-weight: bold;
/*color: #FFF;*/
}
.pg_row .pg_info {
margin-left: 10px;
}
.pg_row .pg_portrait_div { 
height:52px;
width:52px;
}
.pg_row .pg_portrait {
box-shadow:none;
}
.item_level {
color: #0D3A6B;
}
.pg_comment {
/*padding-left: 20px;
background: url(../images/icons/comment.png) top left no-repeat;*/
width:260px;
margin:0 10px;
min-height:20px;
padding:5px;
}
.not_editable {
display:block;
min-height:20px;
padding-left: 25px;
background: url(../images/icons/comment.png) top left no-repeat;
}
.editable {
display:block;
color: #365CB5;
min-height:20px;
padding-left: 20px;
background: url(../images/icons/comment_edit.png) top left no-repeat;
cursor:pointer; 
}
.comment_date {
display:block;
font-style: italic;
width:100px;
font-size: 10px;
min-height:20px;
padding-left: 20px;
background: url(../images/icons/time.png) top left no-repeat;
}
.function_icons {
width:16px;
}
.function_icons > div {
height: 16px;
width: 16px;
margin:1px 0;
cursor:pointer;
}
.available {
background: url(../images/icons/happy.png) top left no-repeat;
}
.unavailable {
background: url(../images/icons/unhappy.png) top left no-repeat;
}
.change_role {
/*
background: url(../images/icons/controller.png) top left no-repeat;
*/
}
.change_role img {
margin-top:1px;
margin-left:1px;
}
.holder {
background: url(../images/icons/tick.png) top left no-repeat;
}
.unholder {
background: url(../images/icons/cross.png) top left no-repeat;
}
.div_unavailable {
margin-top:50px;  
}
.div_unavailable h4.title {}
.div_unavailable .pg_row {
float:left;
border:none;
}
.div_unavailable .pg_row:hover {
background-color: transparent;
}
.div_unavailable .pg_portrait_div {
height: 20px;
width: 20px;
}
.div_unavailable .comment_date {
display:none;
}
.div_unavailable .pg_comment,
.div_unavailable .pg_block,
.div_unavailable .function_icons {
width:180px;
margin: 0;
padding: 0;
}
.div_unavailable .pg_info {
width:auto;
margin-left:5px;
float:left;
}
.div_unavailable .function_icons {
padding-left:20px;
margin-top:10px;  
}
.div_unavailable .function_icons > div {
float:left;
margin:0 3px 0 0;
}
.div_unavailable .editable {
padding-left: 25px;
}
.div_unavailable td {
width:200;
vertical-align:top;
}
/*
 *  SIDEBAR
*/
.half-sidebar {
position:relative;
float:right;
width:180px;
margin-right:-100%;
}
.sidebar {
position:relative;
float:right;
width:280px;
margin-right:-100%;
}
.operations {
list-style: lower-alpha;
list-style-position:inside;
padding:0 10px;
}
.widget {}
.widget_title {
margin:0;
width:300px;
}
.portlet {}
.portlet-decoration {}
.portlet-title {
color: #333;
font: 28px "Roboto";
margin: 0;
padding: 15px;
}
.portlet-content {
padding: 0 15px;
}
.sidebar_row {
padding:8px 0;
}
.my_characters {
margin: 0;
}
.my_char_slider {
padding:15px;
}
.my_pg {
position:relative;
padding:2px;
margin-bottom:10px;
}
.main {
padding-left: 20px;
background: url(../images/icons/star.png) top left no-repeat; 
}
.my_pg_options {
position:absolute;
top:1px;
right:-5px;
width: 16px;
height: 16px;
cursor:pointer;
background: url(../images/icons/options.png) top left no-repeat;
}
.my_pg_options:hover {
background: url(../images/icons/options_over.png) top left no-repeat;
}
.spec_icon {
border:1px solid #000;
padding:1px;
margin:1px;
position:absolute;
background-color:#FFF;
}
.spec1 {
bottom:1px;
left:1px;
}
.spec2 {
bottom:1px;
right:1px;
}
.role_icon {
top:-7px;
left:-7px;
background-color: transparent;
border:none;
}
.pg_portrait_div {
float: left;
position:relative;
width:52px;
height:52px;
}
.pg_portrait {
border:1px solid #000;
background-color: #FFF;
box-shadow:1px 1px 2px #AAA;
}
.pg_info {
float: left;
margin-left:10px;
padding:1px;
}
.pg_name a {
font-style: italic;
font-size:14px;
}
.guild_name a {
color: #45709F;
}
.pg_info span {
display:block;
}
.add_char_button {
padding:10px;
}
.add_char_button:hover {}
.alliance_mychar_bottom {
width: 240px;
height: 122px;
} 
.my_pg_menu {
list-style: upper-alpha inside;
margin:0;
padding:0;
}
.my_pg_menu li {
padding:2px 0;
cursor:pointer;
}
.my_pg_menu li:hover {
  color: #9F6408;
}
/*
 * ADDONS
*/
.wait {
cursor: wait;
}

/* MODULI E FORMS
*/
fieldset {
border:none;
}
.event_content #crea_evento,
.event_content #modifica_utente {
padding: 0 0 0 15px;
}
.event_content form {}
.event_content input, 
.event_content select,
.event_content file {
width:300px;
}
.event_content select {
width: 312px;
font-size:14px;
}
.event_content input[type="checkbox"],
.event_content input[type="radio"],
.event_content input[type="file"] {
width: auto;
margin: 0;
}
.event_content textarea {
width:300px;
height:200px;
font-size:14px;
}
.event_content .UI_submit {
width: 312px;
padding:5px;
}
#ktooltip input {
border:1px solid #CCC;
padding:5px;
width: 90%;
}
#ktooltip input:hover {
border:1px solid #BBB;
box-shadow: 0 0 5px #AAA;
}
#ktooltip select {
width: 90%;
}
#ktooltip textarea {
width: 90%;
}
#ktooltip .button {
border:1px solid #CCC;
background: url(../images/bg_button.jpg) top left repeat-x;
margin-right:2px;
padding:8px 3px;
width: auto;
}
#ktooltip .form_row
{
padding: 8px 0;
}
#ktooltip .tooltip_raid_img {
height:25px;
width: 25px;
padding: 1px;
margin:2px 5px 0 0;
border:1px solid #888;
}
label {
display:block;
}
form, fieldset {
margin:0;
padding:0;
}
input,
select,
textarea,
input[type="file"] {
border:1px solid #CCC;
padding:10px;
font: 12px "Roboto";
border-radius: 3px;
width:300px;
}
input[type="checkbox"],
input[type="radio"],
input[type="submit"] {
width:auto;
}
input[type="file"] {
font:13px calibri, tahoma, verdana;
}
select {
padding:3px;
min-width: 200px;
}
option {
border:1px solid transparent;
padding:2px;
margin:0;
}
input:hover,
select:hover,
textarea:hover,
.button:hover {
border:1px solid #BBB;
box-shadow: 0 0 5px #AAA;
}
input[disabled="disabled"] {
box-shadow:none;
}
.error input,
.error select,
.error textarea {
border:1px solid red;
}
input[type="submit"],
.button {
border:1px solid #596959;
background: #DDD url(../images/bg_button.jpg) top left repeat-x;
padding:10px;
margin:20px 0;
font: 12px "Roboto";
text-shadow: 1px 1px 0 #FFF;
}
input.error {
border:1px solid red;
box-shadow: 0 0 5px red;
}
.form_row textarea {
width: 630px;
}
/* BUTTONS
*/
.button,
.UI_submit,
.closeTooltip,
.goBack {
cursor:pointer;
}
/* TOOLTIPS
*/
.raid_comment {
padding: 10px 0;
}
.raid h3 {
margin: 0;
padding: 0;
}
.raid {
position:relative;
margin-bottom: 10px;
}
.raid img {
position:absolute;
bottom:0;
right:0;
}
.raid strong {}
.raid_hour {
padding-bottom:10px;
margin-bottom:10px;
border-bottom: 1px dotted #777;
} 
/**
 * FOOTER
 */
.signature
{
  text-align:center;
  padding:10px;
  border-top: 10px solid #3577C4;
}
/**
 * Yii CRUD styles
 */
.form,
.list-view .view {
	padding:10px;
	margin-bottom:5px;
	background-color:#F2EECE;
	border-radius:3px;
}
.form {
	position:relative;
	background-color: #FAFAFA;	
}
.summary {}
span.required {
	color: #FF0000;
	text-shadow: 1px 1px #FFF;
}
.note {
	font-size: x-large;
	position:absolute;
	right: 10px;
	top:-15px;
}
label.error {
color: red;
font-style: italic;
margin: 5px 0 0 15px;
}
.errorMessage {
	float:right;
	padding-top:15px;
	color: red;
}
.errorSummary {
	max-width:500px;
}
.errorSummary ul {}
.flash-success {
	padding:10px;
	text-align:center;
	background-color: #6AE04A;
}
.grid-view {
	font: 13px calibri, tahoma, georgia;
}
span#CharacterHasRole_role_id label,
span#CharacterHasSpec_spec_id label,
span#Character_is_main label {
	display: inline;
}
.change-img-link {
	cursor:pointer; 
}
/*
 * DEBUG
 */
.xdebug-var-dump {
	font:13px Calibri;
}
/**
 * DasboardEvents Styles
 */
.dashboard_entry {
	padding:0;
	margin:0 0 10px 10px;
	float:left;
	border:1px solid red;
	width:46%;
	overflow:hidden;
}
.user-portrait {
	float:left;
	border:1px solid #9CAA92;
}
.user-activity {
	padding: 0 10px;
	padding-left: 110px;
	width:600px;
}
.dash-username {
	font-weight: bold;
	font-style:italic;
	color: #596959;
}
.dash-raid-info {
	padding-bottom:2px;
}
.dash-description {
	float:left;
	width:478px;
	font-style: italic;
	padding:10px;
	color: #999;
	text-shadow: 1px 1px #FFF;
	text-align:justify;
}
.dash-raid-img {
	float: left;
	margin-top:10px;	
	width:	100px;
	height:	100px;
	overflow: hidden;
}
.dash-description p {
	margin:0;
}
.eroic-icon {
	padding-left: 20px;
  	background: url(../images/icons/crown_heroic.png) left center no-repeat;	
	
}
.normal-icon {
	padding-left: 20px;
  	background: url(../images/icons/crown.png) left center no-repeat;	
}
.user-username {
	position:relative;
}
.dash-infos {
	width:478px;
	padding:0 10px;
	font-size: 20px;
	color: #AAA;
}
/**
 * FIXES
 */
#ui-timepicker-div {
	z-index: 3000;
}
.redactor_box text-area {
}
.redactor_dropdown,
#redactor_modal input, 
#redactor_modal select, 
#redactor_modal textarea, 
#redactor_modal input[type="file"] {
	font: 13px Calibri, Tahoma, Georgia;
}









